<h2>About Ember Forum</h2>

<p>The Ember forum website was created to share and explore techniques and questions about the Ember framework.</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
